{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter your mail</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">

</head>
<body>
    <div class="container-fluid d-flex align-items-center flex-column justify-content-between"
        style="height: 100vh;">
        <div class="container">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
              <div class="container d-flex justify-content-between">
                  <a href="{% url 'lang' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
                    <span class="fs-4"> <img src="{% static 'dima-logo.png' %}" style="width: 20vh;"></span>
                  </a>
              </div>
        
              <ul class="nav nav-pills">
    
              </ul>
            </header>
          </div>
        <div class="container">
            <form action="{% url 'mail' %}" method="post">
                {% csrf_token %}
                <div class="container col-md-6 d-flex flex-row">
                    {% if lang == 'en' %}
                    <input type="text" name="mail" id="mail" class="form-control m-2 p-2"
                        placeholder="Enter your mail..." aria-errormessage="Required field" required>
                    {% else %}
                    <input type="text" name="mail" id="mail" class="form-control m-2 p-2"
                        placeholder="digite seu e-mail..." aria-errormessage="Required field" required>
                    {% endif %}
                    <button class="btn btn-primary m-2 p-2">Submit</button>
                </div>
            </form>
        </div>
        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                <div class="col-md-4 d-flex align-items-center">
                    <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                        <svg class="bi" width="30" height="24">
                            <use xlink:href="#bootstrap" />
                        </svg>
                    </a>
                    <span class="mb-3 mb-md-0 text-muted"> <a href="https://dimaconsult.com/"
                        class="text-muted"> DIMA</a>&copy; 2022</span>
                        
                    </div>
                    <a href="{% url 'login' %}" class="text-muted"> Admin</a>
    
            </footer>
        </div>
    </div>
</body>

</html>