{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>DIMA Quiz</title>
    {% endblock %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">

</head>

<body  style="font-family:Raleway,Helvetica,Arial,Lucida,sans-serif; height: 100vh;">
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <div class="container d-flex justify-content-between">
              <a href="{% url 'lang' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
                <span class="fs-4"> <img src="{% static 'dima-logo.png' %}" style="width: 20vh;"></span>
              </a>
          </div>
    
          <ul class="nav nav-pills">

          </ul>
        </header>
        <h1 class="lead text-danger">
            {% if lang == 'en' %}
            <strong>{{ question.section.title }}</strong>
            {% else %}
            <strong>{{ question.section.title_pt }}</strong>
            {% endif %}

        </h1>
      </div>
    <div class="container d-flex justify-content-center align-items-center">
        {% block body %}
        {% endblock %}
    </div>
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                    <svg class="bi" width="30" height="24">
                        <use xlink:href="#bootstrap" />
                    </svg>
                </a>
                <span class="mb-3 mb-md-0 text-muted"> <a href="https://dimaconsult.com/"
                    class="text-muted"> DIMA</a>&copy; 2022</span>
            </div>

        </footer>
    </div>

    <script src="{% static 'index.js' %}"></script>

</body>

</html>